
.keggContainer {
    width: 30vw;
    border: 2px solid black;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr 3fr;
    gap: 6px;
    grid-template-areas: "close"
    "substrate"
    "product"
    "reaction";
}

.close{
    grid-area: close;
    color: white;
    font-size: clamp(5px, 1vw, 10px);
    background-color: rgb(150, 25, 130);
    transition: all 400ms ease;
}

.close:hover {
    background-color: rgb(120, -5, 100);
    cursor: pointer;
}

.substrate {
    grid-area: substrate;
}

.product {
    grid-area: product;
}

.reaction {
    grid-area: reaction;
}