.download-button {
    width: 80%;
    background-color: rgb(150, 25, 130);
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 1px rgb(56, 9, 49);
    color: white;
    transition: all 200ms ease-in-out;
    /*text-transform: uppercase;*/
    font-size: clamp(12px, 1vw, 22px);;
    /*font-family: Roboto, serif;*/
    margin: 2px;
    padding: 4px;
}

.download-button:hover {
    background-color: rgb(110, -15, 90);
    cursor: pointer;
}

.download-button:disabled {
    background-color: lightgray;
    cursor: default;
    color: black;
}

.button-5rem {
    width: 5rem;
}

.button-7rem {
    width: 7rem;
}

.button-10rem {
    width: 10rem;
}
