
.graph-modal-compound {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    text-align: left;
}

.MuiSlider-root {
    color: rgb(150, 25, 130);
    height: 8px;
    margin-bottom: 4px;
}

.MuiSlider-thumb {
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 2px solid currentColor;
    marginTop: -8px;
    marginLeft: -12;

}

.MuiSlider-thumb:focus :hover :active {
                                   box-shadow: inherit
                               }

.MuiSlider-active {}

.MuiSlider-valueLabel {
    left: calc(-50%)
}

.MuiSlider-track {
    height: 8px;
    border-radius: 4px
}


.MuiSlider-rail {
    height: 8px;
    border-radius: 4px
}

.flux-indicator {
    width: 90%;
    height: 4.5rem;
}

.table-cell {
    display: flex;
    flex-direction: row;
    min-width: 5%;
    width: 20%
}

.cell-content {
    margin: 0;
    flex: 1 1 10%;
    box-sizing: border-box;
    border-left: 1px solid rgba(224, 224, 224, 1);
    border-right: 1px solid rgba(224, 224, 224, 1);
}
