
.graph-modal-compound {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    text-align: left;
}

.MuiSlider-root {
    color: rgb(150, 25, 130);
    height: 8px;
    margin-bottom: 4px;
}

.MuiSlider-thumb {
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 2px solid currentColor;
    margin-top: -8px;
    margin-left: -12px;

}

.MuiSlider-thumb:focus :hover :active {
                                   box-shadow: inherit
                               }

.MuiSlider-active {}

.MuiSlider-valueLabel {
    left: calc(-50%)
}

.MuiSlider-track {
    height: 8px;
    border-radius: 4px
}


.MuiSlider-rail {
    height: 8px;
    border-radius: 4px
}

.flux-indicator {
    width: 90%;
    height: 4.5rem;
}

.table-cell {
    display: flex;
    flex-direction: row;
    min-width: 5%;
    width: 20%
}

.cell-content {
    margin: 0;
    flex: 1 1 10%;
    box-sizing: border-box;
    border-left: 1px solid rgba(224, 224, 224, 1);
    border-right: 1px solid rgba(224, 224, 224, 1);
}

.configuration-content {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 1.5rem;
}

.configuration-form-element {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
}

.status-container {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 10rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.status-header {
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid rgba(0,0,0,.125);
    border-bottom: none;
    color: #941680;
    background-color: rgba(0,0,0,.125);
    padding: 5px 0 5px 0;
}

.status-field {
    flex: 1 1 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid rgba(0,0,0,.125);
    padding: 20px 5px 20px 5px;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 0 8px 0 rgba(0,0,0,0.05);
    box-shadow: inset 0 0 8px 0 rgba(0,0,0,0.05);
    overflow: auto;
}

.switch-buttons {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.switch-button-left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 2px solid rgba(0,0,0,.125);
    border-right: none;
}

.switch-button-left {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid rgba(0,0,0,.125);
}
