.raw-to-product {
    display: flex;
    /*flex-direction: row;*/
    justify-content: center;
}

/*.circle-raw, .circle-product {*/
/*    width: 150px;*/
/*    height: 150px;*/
/*    border-radius: 50%;*/
/*    color: white;*/
/*    border-color: black;*/
/*    border-style: solid;*/
/*    border-width: 2px;*/
/*}*/

/*.reaction {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    border-color: black;*/
/*    border-style: solid;*/
/*    border-width: 2px;*/
/*    transform: rotate(45deg);*/
/*    margin: 25px 20px;*/
/*}*/

/*.arrow-head {*/
/*    font-size: 100px;*/
/*    font-weight: 100;*/
/*    font-family: sans-serif;*/
/*    color: black;*/
/*    margin: 15px 10px;*/
/*}*/

.card-module {
    transition: 1s;
    cursor: pointer;
    width: 250px;
    height: 300px;
    color: #941680 !important;
    background: white;
    border-radius: 10% !important;
    border-style: solid;
    border-color: #941680;
    border-width: thin;
    user-select: none;
}

.card-module:hover {
    transition: 0.5s;
    backface-visibility: hidden;
    transform: scale(1.05);
    box-shadow: 0 0 10px 0 gray;
}