.taxonomyContainer {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 50% 50%;

    grid-template-areas:'taxonomicRank switch'
    'taxonomy addTaxonomy';

}

.switch {
    grid-area: switch;
}

.taxonomicRank {
    grid-area: taxonomicRank;
}

.taxonomy {
    grid-area: taxonomy;
}

.addTaxonomy {
    grid-area: addTaxonomy;
    background-color: rgb(150, 25, 130);
    border-width: 0;
    border-radius: 0.8vw;
    color: white;
    transition: all 400ms ease-in-out;
    text-transform: uppercase;
    font-size: clamp(10px, 1vw, 14px);
    font-family: "Arial" ;
    margin: 2px;
    transform: translate(0, -3px);
    padding: 0;
}

.addTaxonomy:hover {
    background-color: rgb(120, -5, 100);
    cursor: pointer;
}
