.buttonDelete {
    background-color: rgb(150, 25, 130);
    border-radius: 0.8vw;
    color: white;
    transition: all 400ms ease-in-out;
    text-transform: uppercase;
    font-size: clamp(10px, 1.7vw, 17px);
    margin-right: 30px;
    font-family: "Arial" ;
}

.buttonDelete:hover {
    background-color: rgb(120, -5, 100);
    cursor: pointer;
}
