
.annotation-modal {
    width: 80vw;
    height: 80vh;
    /*overflow: auto;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
}

.annotation-modal-content {
    display: flex;
    flex-direction: column;
    height: 100%
}

.annotation-body {
    width: 100%;
    min-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 0;
    flex: 1 1 auto;
    padding: 0.5em 0 0.5em 0;
    overflow-x: auto;
}

.annotation-frame {
    /*width: 50%;*/
    flex: 1 1 50%;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.125);
    padding: 20px 0 20px 0;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.125);
    overflow: hidden;
}

.frame-margin-left {
    margin-left: 0.5em;
}

.frame-margin-right {
    margin-right: 0.5em;
}

.inner-container {
    overflow: auto;
    height: 100%;
    border-top: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
    background-color: white;
}

.detail-view {
    padding: 3% 5% 3% 5%;
    max-width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: minmax(0,100%);
    grid-gap: 1.5em;
}

.circle-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.button-bar {
    flex: 0 0 auto;
    display: flex;
    padding: 0.5em;
}

.button-right {
    justify-content: flex-end;
}

.button-left {
    justify-content: flex-start;
}

.button-center {
    justify-content: center;
}

.spaced-buttons {
    justify-content: space-between;
}

.finish-button {
    width: 8em;
}

.indicator-circle {
}

.chip-container {
    min-height: 2.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.23);
    border-width: 1px;
    border-radius: 4px;
    box-sizing: border-box;
}

.chip-container-label {
    text-align: center;
    /*min-width: auto;*/
    /*display: block;*/
    margin: 0 0.2em 0 0.2em;
    padding: 0 0.35em 0 0.35em;
    transform: translate(0, 0.5em) scale(1);
    /*!*transform-origin: center;*!*/
    /*!*z-index: 1;*!*/
    color: rgba(0, 0, 0, 0.54);
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.00938em;
    background-color: white;
}

.compound-adder {
    justify-content: space-between;
    margin: 0.5rem 0 0 0;
    display: grid;
    grid-template-columns: 18% 50% 30%;
}
